<!--The whole content below can be removed with the new code.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <mat-sidenav-container class="container">
  <mat-toolbar color="primary">
    <span>Application Title</span>
    <button type="button" mat-button (click)="sidenav.open()">
      Open sidenav
    </button>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span>Right Aligned Text</span>


    <div class="sidenav-content">
    </div>
  </mat-toolbar>
    <mat-sidenav #sidenav class="sidenav">
      Jolly good!


    </mat-sidenav>
  </mat-sidenav-container>
</div>

